#forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot .forgot {
  width: 300px;
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot .forgot .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot .forgot .form-container div {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 10px 0;
}

#forgot .forgot .form-container .input-container {
  position: relative;
}
#forgot .forgot .form-container .input-container small {
  color: red;
  position: absolute;
  bottom: -20px;
  left: 2px;
  animation-name: appear;
  animation-duration: 1s;
}

#forgot .forgot .form-container .input-container input {
  height: 2.5rem;
}

#forgot .forgot button {
  margin-top: 20px;
  width: 100%;
  height: 35px;
}

#forgot .forgot .statusMessage {
  margin-top: 25px;
  width: 100%;
}

#forgot .forgot .statusMessage .success {
  color: green;
  animation-name: appear;
  animation-duration: 2s;
  text-align: justify;
}

#forgot .forgot .statusMessage .error {
  color: red;
  animation-name: appear;
  animation-duration: 2s; 
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
