<section id="signin">
  <div class="signin-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="signForm" class="form-container">
      <div class="input-container">
        <label for="email">E-mail</label>
        <input type="email" id="username" required formControlName="email" />
        <small
          *ngIf="!signForm.get('email').valid && signForm.get('email').touched"
          >Please, add a valid e-mail.</small
        >
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          required
          formControlName="password"
        />
        <small
          *ngIf="
            !signForm.get('password').valid && signForm.get('password').touched
          "
          >A valid password has between 6 to 20 characters</small
        >
      </div>
      <button
        [disabled]="signForm.status === 'INVALID' ? true : false"
        type="submit"
      >
        Submit
      </button>
    </form>
    <div *ngIf="statusMessage" class="statusMessage" (click)="closeWindow()">
      <span [ngClass]="statusMessage.includes('Yay') ? 'success' : 'error'">{{
        statusMessage
      }}</span>
    </div>
  </div>
</section>
