<!-- <router-outlet></router-outlet> -->
<section id="user">
  <div class="user">
    <h1>{{ signUp ? "Sign Up" : "Sign In" }}</h1>
    <app-signup *ngIf="signUp"></app-signup>
    <app-login *ngIf="!signUp"></app-login>
    <small class="account-choice" (click)="toggleSignInSignUp()">{{
      signUp
        ? "Already have an account? Sign In!"
        : "Don't have an account yet? Sign Up!"
    }}</small>
    <small routerLink="/forgot-password" class="account-choice">Forgot your password?</small>
  </div>
</section>
